.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.log
**/.pytest_cache
**/.mypy_cache
**/.venv
backend/.venv
node_modules
chatfrontend/node_modules
chatfrontend/dist
chatfrontend/.cache
*.swp
*.swo
*.DS_Store
